@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


$very-dar-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

$font-stack: 'Rubik', sans-serif;
$font-size: 18px;